h1{
  color:red;
  font-family: fantasy;
}

p {
  color: blue;
  font-family: cursive;
  font-size: 25px;
}

#calendar {
  background-color: green;
}

.dayOfTheWeek {
  display: inline-block;
}

#monday {
  background-color: blue;
}

#saturday {
  background-color: pink;
}

#Sunday {
  background-color: purple;
  font-family: arial;
  font-size: 20px;
}
