* {
    box-sizing: border-box;
}

#calendar {
  background-color: green;
}

.dayOfTheWeek {
  display: inline-block;
}

#monday {
  background-color: blue;
}

#saturday {
  background-color: pink;
}

#sunday {
  background-color: purple;
  font-family: arial;
  font-size: 20px;
}
