* {
    box-sizing: border-box;
}

#calendar {
  background-color: #d3d3d3;
  min-width: 550px;
}

.dayOfTheWeek {
  display: inline-block;
  min-width:13%;
}

.dayOfTheMonth {
  width:100%;
  height:50px;
  background-color: grey;
  border:2px solid black;
}

#sunday {
  background-color: purple;
}

#monday {
  background-color: blue;
}

#tuesday {
  background-color: green;
}

#wednesday {
  background-color: red;
}

#thursday {
  background-color: orange;
}

#friday {
  background-color: yellow;
}

#saturday {
  background-color: pink;
}
