
/*-  styling for input and lists ---- needs some work*/
input {
  text-align: center;
  float: right;
  width: 100%;
}

.menu {
  position: relative;
}
.menu button {
  float: right;
  display: inline-block;
  overflow: hidden;

}

.menu ul{
  display: block;
}
.menu #todos{
  font-family: 'Open Sans', sans-serif;
  line-height: 45px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.remove {
  cursor: pointer;
  width:13px;
  height: 13px;
  margin-right: 20px;
}
 #todos li {
  text-align: center;
}
.menu #todos{
  position: absolute;
  top: 107px;
  width: 100%;

  list-style: none;
  margin: 0;
  padding: 0;
}





#menuBar {
  display: inline-block;
  background-color: brown;
  min-width: 100px;
}

#calendar {
  display: inline-block;
  background-color: #d3d3d3;
  min-width: 400px;
}
